name: CI

on:
  push:
    branches:
      - master
  pull_request:
  merge_group:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5

      - uses: DeterminateSystems/nix-installer-action@v20

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Build
        run: nix build -L

      - run: |
          rm meta.json
          nix run . -- --download-url-prefix https://example.org/
          cat meta.json
